﻿@model ODDESTOODDS.WebUI.Models.AdminDashbordViewModel

@{
    ViewBag.Title = "Index";
    var x = Model;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Admin", new { @class = "btn btn-primary" }) &nbsp; &nbsp;
    @Html.ActionLink("Publish", "Publish", "Admin",new { @class="btn btn-primary", @style="float:right;",@onclick= "publish()" })
</p>
<table class="table">
    <tr>
        <th>
            Home
        </th>
        <th>
            Away
        </th>
        <th>
            1
        </th>
        <th>
            X
        </th>
        <th>
            2
        </th>
        <th></th>
    </tr>
    @{
        if (Model.Current != null)
        {
            foreach (var item in Model.Current)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Home)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Away)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeWinQuote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrawQuote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayWinQuote)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                        <a href="#" onclick="deleteItem('@item.Id')">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    No Data available
                </td>
            </tr>
        }
    }


</table>

<h2>Not yet published</h2>
<table class="table">
    <tr>
        <th>
            Home
        </th>
        <th>
            Away
        </th>
        <th>
            1
        </th>
        <th>
            X
        </th>
        <th>
            2
        </th>
        <th></th>
    </tr>
    @{
        if (Model.NotPublished != null)
        {
            foreach (var item in Model.NotPublished)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Home)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Away)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeWinQuote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrawQuote)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayWinQuote)
                    </td>
                    <td>
                        <a href="#" onclick="rollBackItem('@item.Id')">Rollback changes</a>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    No Data available
                </td>
            </tr>
        }
    }

</table>

<script>

    function publish() {

        if (confirm("Are you sure?")) {
            // your publish code
            return true;
        }
        event.preventDefault();
        return false;
    }

    function deleteItem(id) {

        if (confirm("Are you sure?")) {
            // your deletion code
            callDelete(id);
        }
        return false;
    }

    function callDelete(id) {

        $.ajax({
            url: '@Url.Action("Delete", "Admin")'+'/'+id,
            success: function(result) {
                console.log('Success');
                location.reload();
            },
            error: function () {
                alert('error');
            }
        });
    }

    function rollBackItem(id) {

        if (confirm("Are you sure?")) {
            // your deletion code
            callrollBackItem(id);
        }
        return false;
    }

    function callrollBackItem(id) {

        $.ajax({
            url: '@Url.Action("Rollback", "Admin")'+'/'+id,
            success: function(result) {
                console.log('Success');
                location.reload();
            },
            error: function () {
                alert('error');
            }
        });
    }

</script>