﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application OddesToOdds", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{
                        var auth = User.IsInRole("Admin");
                        if (auth)
                        {
                            <li>@Html.ActionLink("Administrator Panel", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @{
            if (!string.IsNullOrEmpty(ViewBag.ResultMessage))
            {
                <br/>
                <div style="width:100%;">
                <span class="text-danger" style="font-size:medium; float:right;">@ViewBag.ResultMessage</span>
                </div>
            }
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var quote = $.connection.quoteHub;

            quote.client.displayQuote = function () {
                getData();
            };
            $.connection.hub.start();
            getData();
        });

        function getData() {
            var $tbl = $('#tblInfo');
            $.ajax({
                url: $('#Get').val(),
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    
                    $tbl.empty();
                    $.each(data, function (i, model) {
                        $tbl.append(
                            '<tr>' +
                            '<td>' + model.Match + '</td>' +
                            '<td>' + model.Home + '</td>' +
                            '<td>' + model.Draw + '</td>' +
                            '<td>' + model.Away + '</td>' +
                            '</tr>'
                        );
                    });
                }
            });
        }

    </script>
</body>
</html>
