﻿@{
    /**/

    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles </h2>

<div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_1" data-toggle="tab">Role Add to User</a>
        </li>
        <li>
            <a href="#tab_2" data-toggle="tab">Get Roles for a User</a>
        </li>
        <li>
            <a href="#tab_3" data-toggle="tab">Delete A User from a Role</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <h2></h2>
            @Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")


            @using (Html.BeginForm("AddRoleToUser", "Roles"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <br />
                <p>

                    Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserName, "Select ...", new { @class = "form-control" })
                    <br />
                    <br />
                    Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { @class = "form-control" })

                </p>

                <input class="btn btn-primary" type="submit" value="Save" />
            }
        </div>
        <div class="tab-pane fade" id="tab_2">
            <h3></h3>
            @using (Html.BeginForm("GetRoles", "Roles"))
            {
                @Html.AntiForgeryToken()
                <p>
                    Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserName, "Select ...", new { @class = "form-control" })
                    <br />
                    <input class="btn btn-primary" type="submit" value="Get Roles for this User" />
                </p>
            }

            @if (ViewBag.RolesForThisUser != null)
            {
                <div>
                    <h4>Roles for this user </h4>
                    <ol>
                        @foreach (string s in ViewBag.RolesForThisUser)
                        {
                            <li>@s</li>
                        }
                    </ol>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="tab_3">
            <h3></h3>

            @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <p>
                    Username : @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserName, "Select ...", new { @class = "form-control" })
                    Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { @class = "form-control" })

                </p>

                <input type="submit" class="btn btn-primary" value="Delete this user from Role" />
            }

        </div>
    </div>
</div>