﻿@{
    ViewBag.Title = "Home Page";
}
<h2>Odds</h2>
@Html.Hidden("Get", Url.Action("Get", "Home"))
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Match</th>
                <th>1</th>
                <th>X</th>
                <th>2</th>
            </tr>
        </thead>
        <tbody id="tblInfo"></tbody>
    </table>
</div>

